body {
    background-image: url("https://pm1.narvii.com/7224/65b34c94e07e37ffd55829b8117974f43aa84c19r1-713-713v2_uhq.jpg");
    background-size: 300px 200px;
    color: aliceblue;
    width: 300px;
    height: 200px;
    padding: 10px;
    text-align: center;
    border: none;
}

.popup-btn {
    border-radius: 3px;
    border: none;
    margin: 5px;
    font-size: large;
    font-weight: 600;
    background-color: aliceblue;
}

.popup-btn:hover {
    background-color: rgb(184, 191, 197);
}

.country-input {
    border: none;
    border-radius: 2px;
    padding: 2px;
    
}
